* {
  font-family: "Mukta", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  color: white;
  background-color: #ed8e29;
}

.contenedor {
  height: 940px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contenedor > * {
  width: 100%;
  display: flex;
  justify-content: center;
}

header {
  flex: 0 0 5%;
  margin-top: 20px;
}

main {
  flex: 0 0 90%;
  align-items: center;
}

.contenedor-main {
  height: 460px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}

#text-area-input {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  border: none;
  resize: none;
  padding: 5%;
  background-color: rgba(245, 241, 241, 0.75);
  transition: background-color 0.75s;
  font-size: 18px;
}

#text-area-input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.926);
  color: gray;
  font-size: 18px;
}

.contenedor-input h3 {
  margin-top: 5px;
}

.contenedor-btn {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contenedor-btn button {
  height: 40px;
  width: 200px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 20px;
  border: black;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.5s;
}

.contenedor-btn button:hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: gray;
}
.contenedor-btn button:active {
  background-color: rgba(0, 0, 0, 0.75);
}

.btn-encrip {
  background-image: url(/images/lock.png);
  background-repeat: no-repeat;
  background-position: 10% 50%;
}

.btn-descrip {
  background-image: url(/images/lock.png);
  background-repeat: no-repeat;
  background-position: 10% 50%;
}

.btn-copy {
  background-image: url(/images/copy.png);
  background-repeat: no-repeat;
  background-position: 10% 50%;
  visibility: hidden;
}

#text-area-output {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  border: none;
  resize: none;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.926);
  font-size: 18px;
}

footer {
  flex: 0 0 5%;
}

.design {
  font-family: "Mukta", sans-serif;
}

.redes img {
  width: 32px;
  height: 32px;
}
